doctype html
html
  head
    title AngularJS: Binding: container
    link(rel="stylesheet", href="assets/main.css")
  body
    div(ng-app='')
      input(type="text"
            ng-model='data.input'
            placeholder='type something')
      h1 {{ data.input }}
    script(src="assets/main.js")
