doctype html
html
  head
    title AngularJS: Binding: container
    link(rel="stylesheet", href="assets/main.css")
  body
    div(ng-app='')
      input(type="text"
            placeholder='type something')
      h1 you typed:
    script(src="assets/main.js")
