doctype html
html
  head
    title AngularJS: Binding: realtime
    link(rel='stylesheet', href='assets/main.css')
  body
    div(ng-app='')
      input(ng-model='data.input'
            type='text'
            placeholder='world')
      h1 Hello {{data.input || 'world'}}
    script(src='assets/main.js')
