doctype html
html
  head
    title AngularJS: Binding: container
    link(rel="stylesheet", href="assets/main.css")
  body
    div(ng-app='')
      input(type="hidden")
      h1 Hello World
    script(src="assets/main.js")
